body {
    background-color: rgb(27, 27, 27);
    height: 900px;
    background-attachment: fixed;
}
.nav-name{
    font-size: 30px;
}
.nav-hover:hover{
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
}
.top-head{
    color: white;
    text-align: center;
}
.top-video{
    margin-top: 20px;
}